/* global */
@import url("https://fonts.googleapis.com/css?family=Montserrat|Montserrat+Subrayada&display=swap");
@import url("https://fonts.googleapis.com/css?family=Monoton&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  font-family: "montserrat", sans-serif;
  font-size: 10px;
}
body {
  width: 100%;
  height: 100%;
  background: #202066;
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}
p {
  font-size: 1.8rem;
}
.img {
  width: 100%;
}

/* end-global */

/* reusable */

section {
  padding-top: 2rem;
  padding-bottom: 12rem;
}
.container {
  width: 90%;
  max-width: 120rem;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

.section-heading {
  text-align: center;
  margin-bottom: 10rem;
  padding-top: 10rem;
}

.section-heading h2 {
  font-size: 4rem;
  text-transform: uppercase;
  position: relative;
  opacity: 0.5;
  margin-bottom: 2rem;
}

.section-heading h2::before,
.section-heading h2::after {
  content: "";
  background: red;
  position: absolute;
  bottom: -1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.section-heading h2::before {
  width: 10rem;
  height: 3px;
  border-radius: 0.8rem;
  bottom: -0.9rem;
}
.section-heading h2::after {
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 100%;
}
.section-heading h6 {
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 1.5rem;
}

.margin-right {
  margin-right: 5rem;
}

/* end reusable */
/* header */
header {
  width: 100%;
  height: 100vh;
}

/* nav temporanea */

.nav-full{
  width: 100%;
  height: 60px;
  display: flex;
  position: fixed;
  overflow: hidden;
  z-index: 1000;
  background: #16162d;
}
.nav-full ul{
  display: flex;
  list-style: none;
  align-items: center;
  justify-content: space-around;
  width: 100%;

}
.nav-full ul li{
 
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  text-align: center;
}
.nav-full ul li a{
  text-decoration: none;
  text-transform: uppercase;
  padding: 5px;
  font-size: 1.5rem;
  letter-spacing: 2px;
  transition: all 0.5s ease;
  width: 100%;
}

.nav-full ul li a:hover{
  filter: blur(0)!important;
  opacity: 1 !important;
  transform: scale(2);
  background: linear-gradient(450deg, red, orange, green, yellow);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-weight: bold;
  
}
.nav-full ul:hover li  a{
  filter: blur(2px);
  opacity: .2;
}

.nav-full ul li:hover{
 
}



/* fine nav temporanea */

.top-nav {
  visibility: none;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: -100vh;
  background: #16162d;
  border-bottom-right-radius: 100%;
  border-bottom-left-radius: 100%;
  transition: all 650ms cubic-bezier(1, 0, 0, 1);
  display: flex;
  flex-direction: column;
  z-index: 50;
}

.nav-list {
  list-style-type: none;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

li {
  margin: 2rem 0;
}

.nav-link {
  font-family: "montserrat", sans-serif;
  font-size: 2rem;
  padding: 1rem;
  transition: all 0.6s;
}

.nav-link:hover,
.nav-link:focus {
  background: #777;
}

.top-nav.open {
  top: 0;
  border-radius: initial;
}

.menu-toggler {
  display: none;
  position: absolute;
  top: 5rem;
  right: 5rem;
  width: 4rem;
  height: 3rem;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  z-index: 1500;
  transition: transform 650ms ease-out;
}

.menu-toggler.open {
  transform: rotate(-45deg);
}

.bar {
  background: #fff;
  width: 100%;
  height: 4px;
  border-radius: 0.8rem;
}

.bar.half {
  width: 50%;
}

.open .bar.start {
  transform: rotate(450deg) translateX(14px);
}
.open .bar.end {
  transform: rotate(450deg) translateX(-14px);
}
.bar.start {
  transform-origin: right;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}
.bar.end {
  align-self: flex-end;
  transform-origin: left;
  transition: transform 650ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
}

.landing-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.landing-text h1 {
  background: linear-gradient(450deg, red, orange, green, yellow);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  font-size: 6rem;
  font-weight: 100;
  user-select: none;
  font-family: "Monoton", cursive;
}

.landing-text h6 {
  font-size: 2rem;
  font-weight: 400;
  user-select: none;
}

/* end-header */

/* abut section */

.about .container {
  display: flex;
  width: 100%;
  height: 100vh;
  align-items: center;
  justify-content: space-evenly;
}
.about-heading {
  text-align: center;
  text-transform: uppercase;
  line-height: 0;
  margin-bottom: 6rem;
}

.about-heading h1 {
  font-size: 10rem;
  opacity: 0.3;
}
.about-heading h6 {
  font-size: 2rem;
}

.profile-img {
  flex: ;
  border-radius: 50%;
  filter: contrast(1.2);
  width: 20rem;
}

.about-details {
  width: 500px;
  text-align: justify;
}

.social-media {
  margin-top: 5rem;
}

.social-media i {
  font-size: 5rem;
  transition: color 650ms;
}

.fa-github:hover {
  color: #111;
  background: #fff;
  border-radius: 50%;
  border: transparent;
}
.fa-facebook:hover {
  color: #4267b2;
}
.fa-instagram:hover {
  color: red;
}

/* end about */

/* services */

.my-skill {
  margin-top: 7rem;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 2.5rem;
  text-align: center;
}

.my-skill .skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.skill h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
  margin: 2rem;
}

.skill .icon-container {
  width: 10rem;
  height: 10rem;
  border: 5px solid #ee5a24;
  background: #a3cb38;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
}

.skill p {
  width: 300px;
  text-align: center;
}

.icon-container i {
  transform: rotate(-45deg);
  color: #ee5a24;
  font-size: 5rem;
}

/* end-services */

/* porfolio */

.portfolio-item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 5rem;
}
.portfolio-item:last-child {
  margin-bottom: 0;
}

.portfolio-img {
  flex: 1;
}

.portfolio-description {
  flex: 1;
}

.portfolio-description h2 {
  font-size: 3rem;
  font-weight: 300;
  margin: 1rem 0;
}

.portfolio-description h6 {
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: 300;
  opacity: 0.3;
}

.portfolio-description .details {
  display: inline-block;
  margin-top: 2.5rem;
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #3883ff;
  transition: color 650ms;
}

.portfolio-description .details:hover {
  color: #52f15a;
}
/* end-portfolio */

/* timeline */
.timeline ul {
  /* #ffe838 */
  border-left: 4px solid #ee5a24;
  border-radius: 17px;
  background-color: #4267b248;
  margin: 0 auto;
  position: relative;
  list-style: none;
  padding: 5rem;
  text-align: left;
  width: 70%;
}

.timeline h2 {
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: 300;
  margin-bottom: 1rem;
  opacity: 0.3;
}

.timeline .date {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  position: relative;
}

.timeline .date:last-of-type {
  padding-bottom: 0;
  margin-bottom: 0;
  border: none;
}

.timeline .date::before,
.timeline .date::after {
  position: absolute;
  display: block;
  top: 50%;
  transform: translateY(-50%);
}

.timeline .date::before {
  content: attr(data-date);
  left: -210px;
  
  text-align: right;
  min-width: 12rem;
  font-size: 1.5rem;
}

.timeline .date::after {
  content: "";
  box-shadow: 0 0 0 4px #52f15a;
  border-radius: 100%;
  left: -6rem;
  width: 15px;
  height: 15px;
  background: #313534;
}
/* end-timeline */

/* contact-form */
.box {
  display: flex;
  flex-direction: column;
  width: 90%;
  max-width: 400px;
  background: #4267b2;
  padding: 40px;
  border-radius: 15px;
  height: 500px;
  justify-content: ;
  align-items: center;
  margin: 0 auto;
}
/* 
.form-box {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 60px;
  background: red;
  margin: 10px;
} */

.box input {
  padding: 10px 0;
  margin-bottom: 30px;
}

.box textarea {
  height: 80px;
  padding: 10px 0;
  margin-bottom: 40px;
}

#name,
#email,
textarea {
  outline: none;
  background: #4267b2;

  width: 100%;
  box-sizing: border-box;
  box-shadow: none;
  outline: none;
  border: none;
  border-bottom: 2px solid #fff;
}

textarea {
  max-width: 350px;
  min-width: 350px;
  max-height: 200px;
  min-height: 200px;
}

.box input[type="submit"] {
  cursor: pointer;
  background: #16162d;
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  font-family: "montserrat", sans-serif;
  width: 100%;
  border: 3px solid #f8f6f6;
  border-radius: 10px;
  transition: 0.4s ease;
}
.box input[type="submit"]:hover{
  background: #1b325f;
}

.box form div {
  position: relative;
}
.box form div label {
  position: absolute;
  left: 0px;
  pointer-events: none;
  font-size: 2rem;
  transition: all 0.4s ease;
  width: 100%;
  width: 100px;
  height: 100%;
  overflow: hidden;
}

.box input:focus ~ label,
.box textarea:focus ~ label,
.box input:valid ~ label,
.box textarea:valid ~ label {
  transform: translateY(-20px);
  color: #16162d;
  font-weight: bold;
  font-size: 1.5rem;
}

#name:focus,
#email:focus,
textarea:focus,
#name:valid,
#email:valid,
textarea:valid{
  border-bottom: 2px solid #16162d;
}

/* end contact-form */

/* footer */

.copyright{
  width: 100%;
  height: 60px;
  text-align: center;
  background-color: #16162d;
  padding: 2rem 0;
  position: relative;
}

.up{
  position: absolute;
  width: 5rem;
  height: 5rem;
  
  font-size: 2rem;
  font-weight: bold;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100%;
  border: 3px solid #ee5a24;
  top: 5px;
  right: 10px;
  animation: pulse 2s infinite;
  cursor: pointer;
}
 
.up i{
  color: #ee5a24;
}

@keyframes pulse{
  0%{
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0,99);
  }
  70%{
    box-shadow: 0 0 0 2rem #ee5a24;
  }
  100%{
    box-shadow: 0 0 0 0 rgba(253, 87, 191, 0);
  }
}



/* end-footer */


@media screen and (max-width: 768px){
  body {
    background: #202066;
    color: #fff;
  }

  .landing-text h1{
    font-size: 5rem;
  }
  .landing-text h6{
    font-size: 1.5rem;
    
  }

  .menu-toggler{
    display: flex;
    position: fixed;
  }

  .top-nav{
    visibility: visible;
  }
  .nav-full{
    display: none;
  } 

  .nav-full ul li a{
    font-size: 10px;
    justify-content: space-evenly;
  }

  .about .container{
    display: flex;
    flex-direction: column;
  }
  .about-heading h1{
    font-size: 7rem;
  }
  .about-heading h6{
    font-size: 2rem;
  }

.section-heading h1{
  font-size: 3rem;
}

.about-details p{
 font-size: 16px;
 width: 90%;
 margin: auto;
}
.about-details .nav-list{
  flex-direction: initial;
}

.about-details li{
  margin: 0 2rem;
}
.icon-container{
  width: 7rem;
  height: 7rem;
}

.icon-container i{
  font-size: 3rem;
}
.timeline ul{
  margin: 0 0 0 auto;
}

.timeline .date::before{
  left: -19rem;
}
.timeline .date::after{
  left: -6rem;
}

}

@media screen and (max-width: 600px){
  .landing-text h1{
    font-size: 4rem;
  }

  .portfolio-item{
    flex-direction: column;
  }
  .portfolio-item .portfolio-img{
    width: 100%;
    margin: 0 auto;
    order: 1;
  }

  .portfolio-description{
    margin: 0;
    order: 2;
  }



}